.login{
    width: 100%;
    height: 86.7vh;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #cfd9d68f;
    background-image: url("https://d19qjkjk65tfln.cloudfront.net/img/login-page-bg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: 50%;
    .login-form{
        width: 300px;
        border-radius: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img{
            width: 100px;
            margin: 0 auto;
            display: block;
        }
        h1{
            font-family: Lato;
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 30px;
            text-align: center;
            color: #da924e;
        }
        ul{
            max-width: 200px;
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            li{
                font-size: 12px;
                color: #006747;
            }
            .child-two::before{
                content: '';
                width: 4px;
                height: 4px;
                position: absolute;
                background-color: #006747;
                left: 30%;
                top: 8px;
                border-radius: 2px;
            }
            .child-three::before{
                content: '';
                width: 4px;
                height: 4px;
                position: absolute;
                background-color: #006747;
                left: 78%;
                top: 8px;
                border-radius: 2px;
            }  
        }
        input{
            width: 100%;
            border: none;
            outline: none;
            font-size: 14px;
            color: #111;
            padding: 4px 14px;
            background-color: #F5F8F9;
            border: 1px solid transparent;
        }
        input:focus{
            border: 1px solid #ddd;
        }
        button{
            background-color: #006747;
            width: 100%;
            height: 30px;
            color: white;
            font-size: 13p;
        }
        .login-form-container{
            background-color: white;
            border-radius: 8px;
            p{
                margin: 0;
                font-size: 13px;
            }
            header{
                box-shadow: 0 0 13px #ece0c8;
            }
        }
    }
    
}
@media screen and ((max-width: 767px)) {
    .login{
        background-size: 100%;
    }
}

.register{
    background-color: #FCFCFC;
    header{
        img{
            width: 180px;
            margin: 0 auto;
        }
        h2{
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #595C7D;
            margin-top: 17px;
        }
        p{
            margin: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            text-align: center;
            color: #595C7D;
            mix-blend-mode: normal;
            opacity: 0.8;
        }
    }
    body{
        padding: 16px 12px;
        background-color: #FFFFFF;
        border-radius: 4px;
        box-shadow: 0 0 3px inset #e6e6e6;
        margin-top: 25px ;
        .form-card{
            input{
                border: 1px solid #CCCCCC;
                outline: none;
                padding: 5px 8px;
                color: #CCCCCC;
                border-radius: 4px;
                font-size: 14px;
            }
            input:focus{
                border: 1px solid black;
            }
            button{
                width: 100%;
                height: 30px;
                color: white;
                background-color: #006747;
                transition: background-color 0.2s ease;
            }
            button:hover{
                background-color: red;
            }
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
            color: #595C7D;
            mix-blend-mode: normal;
            opacity: 0.8;
            margin: 14px 0 20px;
        }
        h2{
            color: #006747;
            text-decoration: none;
            font-weight: bold;
            font-size: 15px;
            cursor: pointer;
            display: block;
            text-align: center;
            margin-top: 16px;
        }
    }
    
    .submit{
        width: 100%;
        height: 30px;
        font-size: 13px;
        font-weight: 500;
        color: white;
        border:1px solid #006747;
        color: #006747;
        background-color: transparent;
        transition: background-color 0.2s ease;
    }
    .submit:hover{
        color: white;
        background-color: #006747;
    }
}